*{
  text-align:center;
  background-color: black;
}
.main_header{
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.download a{
  color: aquamarine;
  font-size: 16px;
}
.basic_header{
  font-family: Verdana;
  font-size: 42px;
  color: white;
  font-weight: 300px;
}
p{
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}
#video{

}
#camp{

}
#icon{

}
